[submodule "include/ckb-c-stdlib"]
	path = include/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
[submodule "deps/compiler-rt-builtins-riscv"]
	path = deps/compiler-rt-builtins-riscv
	url = https://github.com/nervosnetwork/compiler-rt-builtins-riscv.git
[submodule "deps/ckb-libcxx-builder"]
	path = deps/ckb-libcxx-builder
	url = https://github.com/xxuejie/ckb-libcxx-builder.git
[submodule "deps/musl"]
	path = deps/musl
	url = https://github.com/xxuejie/musl.git
